* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
button {
  border: unset;
  outline: none;
  font-family: inherit;
  cursor: pointer;
}
:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --black: black;
  --ocean: #404bbf;
  --white: #ffffff;
  --slate: #434455;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --green: #31d0aa;
  --lightslate: #8e8f99;
  --navybluemodal: #2e2f42;
  --grey: #2e2f42;
  --dairy: #fcfcfc;
  --lightray: #645353;
}
.body {
  background: #fff;
}
.portfolio-body {
  background: #FFF;
}
.nav-container,
.hero-container,
.feature-container,
.services-container,
.footer-container,
.portfolio-butoon-container,
.portfolio-services-container,
.team-container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.head {
  flex-shrink: 0;
  text-decoration: none;
  padding: 24px 0;
}
.nav {
  display: inline-flex;
}
.nav-address,
.nav-list {
  display: inline-flex;
  flex-direction: row;
  gap: 40px;
  text-decoration: none;
  }
.nav-address-link {
    justify-content: flex-end;
  }
  .nav-list {
  justify-content: flex-start;
  margin-right: 332px;
  }
.nav-anchor {
  display: flex;
  color: var(--navyblue);
  /* Body Medium */
  font-family: 'Roboto',sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.nav-address-link {
  color: var(--slate);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.nav-anchor:hover {
  color: var(--ocean);
}
.nav-address-link:hover {
  color: var(--ocean);
}
.hero-button:hover {
  background-color: var(--ocean);
}
.nav-logo {
  margin-right: 76px;
}
.web,
.studio {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.web {
  color: var(--iris);
}
.studio {
  color: var(--navyblue);
}
.hero {
  flex-shrink: 0;
  background: var(--navyblue);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 188px;
  padding-top: 188px;
}
.hero-heading {
  color: var(--white);
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: 1.12px;
  margin-bottom: 48px;
}
.hero-button {
  justify-items: center;
  align-items: center;
  border-radius: 4px;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  padding: 16px 32px;
  margin-left: 480px;
}
.portfolio-button {
  justify-content: center;
  padding-top: 96px;
  padding-bottom: 72px;
}
.portfolio-button-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.portfolio-button-item:hover {
  background: var(--ocean);
  color: var(--white);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
  border-radius: 4px;
}
.portfolio-button-item {
  display: flex;
  color: var(--iris);
  text-align: center;
  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  border-radius: 4px;
  border: 1px solid   var(--cornflower, #E7E9FC);
  background: var(--cloud);
  padding: 12px 24px;
  align-items: center;
}
.portfolio-services {
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
}
.portfolio-item {
  display: flex;
  flex-direction: column;
}
.portfolio-item:hover {
  border: 1px solid var(--CLOUD);
  background: var(--WHITE);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
  .portfolio-list-row {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.portfolio-text-services-container {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  background: var(--white);
  border-top: unset;
}
.service-name {
  color: var(--navyblue);
/* Header 3 */
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.service-type {
  color: var(--slate);
/* Body */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.team-item-text{
  text-align: center;
}
.feature-body,
.team-item-text {
  color: var(--slate);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.feature-head,
.team-item-name {
  color: var(--navyblue);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}
.features {
  flex-shrink: 0;
  display: flex;
  background: #FFF;
  justify-content: center;
  padding: 120px 0;
}
.feature-list {
  display: flex;
  flex-direction: row;
  gap: 44px;
}
.feature-item {
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.services {
  background: #FFF;
  padding-bottom: 120px;
}
.services-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.services-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: center;
}
.services-item {
  display: flex;
}
.team {
  flex-shrink: 0;
  background: var(--cloud);
  padding: 120px 0;
}
.team-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  background: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}
.team-item-name {
  margin-bottom: 8px;
}
.team-text-container {
  padding: 32px 16px;
}
.footer {
  flex-shrink: 0;
  background: var(--navyblue);
  display: flex;
  padding-top: 101.5px;
  padding-bottom: 100px;
}
.web-foot,
.studio-foot {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.54px;
  margin-bottom: 17.5px;
}
.web-foot {
  color: var(--iris);
}
.studio-foot {
  color: var(--cloud);
}
.footer-paragraph {
  color: var(--cloud);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  margin-top: 17.5px;
}
